{
    auto_https off
}

http://jim.coggeshall.io {
    route {
        file_server {
            root /var/www/jimcoggeshall.com
        }
    }
}

http://www.jim.coggeshall.io {
    redir http://jim.coggeshall.io{uri} permanent
}

http://broadcast.jim.coggeshall.io, http://display.jim.coggeshall.io {
    route /draw/* {
        uri strip_prefix /draw
        reverse_proxy localhost:8080
    }
    route {
        reverse_proxy /ws* ws://127.0.0.1:8888
        reverse_proxy /timer/ws* ws://127.0.0.1:8889
        reverse_proxy /news/ws* ws://127.0.0.1:8890
        reverse_proxy /broadcast/ws* ws://127.0.0.1:8891
        file_server {
            root /var/www/broadcast.jimcoggeshall.com
        }
    }
}

http://cloud.jim.coggeshall.io {
    route {
        file_server {
            root /var/www/cloud.jimcoggeshall.com
            browse
        }
    }
}

