display.jimcoggeshall.com {
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        Content-Security-Policy "default-src * wss: blob: data: 'unsafe-inline' 'unsafe-eval'"
        -Server
    }
    route {
        reverse_proxy /ws* ws://127.0.0.1:8888
        reverse_proxy /timer/ws* ws://127.0.0.1:8889
        reverse_proxy /news/ws* ws://127.0.0.1:8890
        reverse_proxy /broadcast/ws* ws://127.0.0.1:8891
        file_server {
            root /var/www/display.jimcoggeshall.com
        }
    }
}
